/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */


 @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
/*
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.heading
{
  color: maroon;
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
  text-shadow: 0px 2px 4px darkorange;
  margin: 50px 0px;
  font-family: 'Josefin Sans', sans-serif;
}
.img_div{
  display: flex;
  justify-content: center;
}
.img_div img{
  height: 300px;
  width: 250px;
} */

/*body
{
  background-color: #b4f2e1;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
}
div
{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -30px;
}
h1
{
  background-color: antiquewhite; 
  padding: 20px 20px;
  border-radius: 15px;
}*/

/* netflix design css*/

/* *{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #d2dbdd;
  font-family: 'Josefin Sans', sans-serif;
} */
/*
.heading_style{
  padding: 30px 0;
  text-align: center;
  font-family: "Raleway",sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #868686;
  background-color: #fff;
  font-size: 1.5rem;
  margin-bottom: 30px;
}
.cards
{
  width: 100%;
  height: auto;
}
.card{
  margin: 2% 6%;
  transition: all 0.4s cubic-bezier(0.175,0.0885,0,1);
  background-color: #fff;
  width: 21.25%;
  border-radius: 12px;
  box-shadow: 0px 13px 10px -7px rgba(0,0,0,0.1);
  float: left;
}
.card:hover{
  box-shadow: 0px 30px 18px -8px rgba(0,0,0,0.1);
  transform: scale(1.05,1.05);
}
.card_img{
  width: 100%;
  height: 235px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.card_info{
  background-color: #fff;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 16px 24px 24px 24px;
}
.card__category{
  font-family: 'Raleway',sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  letter-spacing: 2px;
  font-weight: 500;
  color: #868686;
  background-color: #fff;
}
.card__title{
  margin-top: 5px;
  margin-bottom: 10px;
  font-family: 'Raleway',sans-serif;
  background-color: #fff;
  text-transform: capitalize;
}
button{
  padding: 5px 8px;
  font-family: 'Raleway',sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #868686;
  background-color: #fff;
  outline: none;
  border: 1px solid black;
  cursor: pointer;
}
button:hover
{
  background-color: maroon;
  color: white;
}

@media (max-width:768px){
  .card{
    float: none;
    margin: 5%;
    width: 90%;
  }
} 
.slotmachine{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #868686;
  background-color: #fff;
  padding: 10px 0;
  margin: 0 auto;
  width: 40%;
  height: auto;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0px 13px 10px -7px rgba(0,0,0,0.1);
  font-family: 'Josefin Sans', sans-serif;
}
.slot_inner{
  font-weight: 300;
}*/
/* Hook,Event css */
/*
div
{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -30px; 
  background: #8e44ad;
}
h1{
  color: white;
  background: transparent;
  text-shadow: 0 2px 2px black;
}
p{
  color: black;
  background: transparent;
  padding: 4px 0 0 0;
  text-shadow: 0 2px 2px black;
}
input{
  width: 50%;
  padding: 10px 20px;
  border: none;
  outline: none;
  margin: 20px 0;
  text-align: center;
  background: white;
}
button{
  line-height: 24px;
  padding: 15px 20px;
  font-family: 'Raleway',sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #fff;
  background-color: #9b59b6;
  outline: none;
  border: 2px solid #ecf0f1;
  border-radius: 5px;
  cursor: pointer;
}
button:hover
{
  background-color: maroon;
  color: white;
}
*/
/* Todo List Css */
/* *{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #d2dbdd; 
  font-family: 'Josefin Sans', sans-serif;
} */
/* .main_div{
  width: 100%;
  height: 100vh;
  background: #7bed9f;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.center_div{
  width: 35%;
  height: 70vh;
  background-color: #f4f4f4;
  box-shadow: 5px 5px 25px -5px rgba(0,0,0,0.5);
  border-radius: 15px;
} */
 /* h1{
  color: wheat;
  background: transparent; 
  /* font-family: 'Comfortaa',cursive;
  background-color: #8566aa;
  padding: 6px 0 2px 0;
  margin-bottom: 10px;
  box-shadow: 5px 5px 15px -5px rgba(0,0,0,0.3);
} */
/* Material h1*/
/* h1{
  color: rgba(0,0,0,0.87);
  background: transparent; 
  box-sizing: border-box;
  padding: 10px 0 1px 0;
  font-size: 50px;
  font-family: 'Comfortaa',cursive;
  margin-bottom: 30px;
  min-width: 64px;
  font-weight: 500;
  border-radius: 4px;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  text-shadow: 5px 5px 5px rgba(0,0,0,0.3);
}
input{
  text-align: center;
  height: 30px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 500;
  width: 60%;
  border-bottom: 2px solid #8566aa;
  outline: none;
} */
/* button{
  min-height: 40px;
  width: 40px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #8566aa;
  color: #fff;
  font-size: 40px;
  border: none;
  outline: none;
  margin-left: 10px;
  box-shadow: 5px 5px 15px -5px rgba(0,0,0,0.3);
  cursor: pointer;
}
button:hover{
  background-color: #20bf6b;
} */
/*Material button*/
/* .new_btn{
  width: 40px;
  height: 55px;
  margin-left: 10px !important;
  border-radius: 50% !important;
  border-color: transparent;
  background-color: #16a085 !important;
  color: #fff !important;
  box-shadow: 5px 5px 15px -5px rgba(0,0,0,0.3);
  cursor: pointer;
}
.new_btn:hover{
  color: #16a085 !important;
  background-color: #fff !important;
}
.MulSvgIcon-root{
  width: 2rem !important;
  height: 2rem !important;
}
ol{
  margin-top: 30px;
}
ol li{
  padding-left: 0px;
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  min-height: 40px;
  display: flex;
  align-items: center;
  color: #8566aa;
  text-transform: capitalize;
  list-style: none;
}
.todo_style{
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
} */
/* .todo_style .fa-times{
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8566aa;
  border-radius: 50%;
  margin: 0 15px 0 35px;
  color: aliceblue;
  box-shadow: 5px 5px 15px -5px rgba(0,0,0,0.3);
}
.todo_style .fa-times:hover{
  background-color: crimson;
  cursor: pointer;
}

.todo_style .fa-times:hover ~ .list_style{
  color: crimson;

} */
/* Material todolist*/
/* .todo_style .deleteIcon{
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8566aa;
  border-radius: 50%;
  margin: 0 15px 0 35px;
  padding: 3.5px;
  color: aliceblue;
  box-shadow: 5px 5px 15px -5px rgba(0,0,0,0.3);
}
.todo_style .deleteIcon:hover{
  background-color: transparent;
  color: crimson;
  box-shadow: 5px 5px 15px -5px rgba(255,0,0,0.5);
  cursor: pointer;
}

.todo_style .deleteIcon:hover ~ .list_style{
  color: crimson;

}
@media (max-width:768px)
{
  .center_div{
    width: 55%;
  }
  .todo_style .fa-times{
    margin: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  button{
    margin-left: 5px;
    min-height: 40px;
    width: 40px;
    color: #fff;
    font-size: 30px;
  }
} */

/* Inc Dec Css */

/* *{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #d2dbdd;
  font-family: 'Josefin Sans', sans-serif;
}
.main_div{
  width: 100%;
  height: 100vh;
  background: #badc58;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.center_div{
  width: 40%;
  height: 60vh;
  background-color: #f4f4f4;
  box-shadow: 5px 5px 25px -5px rgba(0,0,0,0.5);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h1{
  color: wheat;
   background: transparent; 
  background-color: #30336b;
  padding: 6px 0 2px 0;
  margin-bottom: 10px;
  width: 100%;
  font-size: 50px;
  box-shadow: 5px 5px 15px -5px rgba(0,0,0,0.3); 
}
.btn_div{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
button{
  min-height: 40px;
  width: 40px;
  border-radius: 5%;
  border-color: transparent;
  background-color: #30336b;
  color: #fff;
  font-size: 20px;
  border: none;
  outline: none;
  padding: 0 15px;
  margin-top: 30px;
  box-shadow: 5px 5px 15px -5px rgba(0,0,0,0.3);
  cursor: pointer;
}
button:hover{
  background-color: #20bf6b;
}
@media (max-width:768px)
{
  .center_div{
    width: 55%;
  }
  button{
    margin-left: 5px;
    min-height: 40px;
    width: 40px;
    color: #fff;
    font-size: 30px;
  } 
} */

/*Google Keep Css*/
/*
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #d2dbdd; 
  font-family: 'Josefin Sans', sans-serif;
}
.header{
  width: 100%;
  line-height: 100px;
  background: linear-gradient(60deg,#ffeb3b,#fe0061);
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 50px;
  color: white;
  box-shadow: 5px 3px 15px -5px rgba(0,0,0,0.5);
}
.main_note{
  width: 500px;
  padding: 15px 10px 5px 10px;
  margin: 20px auto;

}
.my_notes h1{
  color: #34495e;
}
.my_notes p{
  color: grey;
}
form{
  min-height: 50px;
  color: #ecf0f1;
  padding: 15px 10px 5px 10px;
  box-shadow: 3px 5px 15px -5px rgba(0,0,0,0.5);
  border-radius: 10px;
  position: relative;
}
input{
  width: 100%;
  line-height: 30px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1.5rem;
  margin: 10px 0;
  font-weight: bold;
}
textarea{
  width: 100%;
  line-height: 30px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1rem;
  margin: 10px 0;
}
.MuiButton-root{
  width: 30px;
  height: 50px;
  position: absolute;
  bottom: -28px;
  left: 400px;
  cursor: pointer;
  background-color: white !important;
  box-shadow: 5px 5px 15px -5px rgba(0,0,0,0.5);
  border-radius: 50% !important;
}
.MuiButton-root .plus_sign{
  font-size: 35px !important;
  font-weight: 900;
  color:#f5ba13;
  cursor: pointer;
  z-index: 222;
  background: transparent;
}
.MuiButton-root:hover{
  background:linear-gradient(60deg,#ffeb3b,#fe0061) !important;
}
.MuiButton-root:hover .plus_sign{
  color: white;
  background: transparent;
}
.note{
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}
.note h1{
  font-size: 1.1em;
  margin-bottom: 6px;
}
.note p{
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.note .btn{
  position: relative;
  float: right;
  margin-right: 10px;
  color: #f5ba13;
  border: none;
  width: 50px;
  height: 50px;
  background: transparent;
  cursor: pointer;
  outline: none;
  box-shadow: 3px 3px 15px -10px rgba(0,0,0,0.5);
  border-radius: 50%;
}
.deleteIcon{
  width: 0.7em;
  height: 0.7em;
}
.note .btn:hover{
  background:linear-gradient(60deg,#ffeb3b,#fe0061);
}
.note .btn:hover .deleteIcon{
  color: #fff;
}
footer{
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  margin: 10px 0;
  text-transform: capitalize;
}
*/
/* *{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
} */
/* h1{
  padding: 2% 0px;
} */
/* .setStyle{
  height: 90vh;
  font-size: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-shadow: 1px 2px 3px firebrick;
  background-color: #99b858;
  color: #feceab;
}

.setStyle2{
  height: 90vh;
  font-size: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-shadow: 1px 2px 3px powderblue;
  background-color: darkseagreen;
  color: #086972;
}
.setStyle3{
  height: 90vh;
  font-size: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-shadow: 1px 2px 3px #e5cfe5;
  background-color:olivedrab;
  color: #a6dcef;
}
.nav_style{
  width: 100%;
  line-height: 10vh;
  background-color: #e84a5f;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #ff847c;
}
.nav_style a{
  color:#fff;
  text-decoration: none;
  font-size: 1.5rem;
} */
/* a.active_class{
  color: #61dafb;
  color: #feceab;
  border-bottom: 1px solid red;
}
@media(max-width:768px){
  .setStyle,
  .setStyle2,
  .setStyle3{
    height: 80vh;
  }
  .setStyle h1,
  .setStyle2 h1,
  .setStyle3 h1{
    font-size: 2rem;
  }
  .setStyle p,
  .setStyle2 p,
  .setStyle3 p{
    font-size: 1rem;
  }
  .nav_style{
    display: block;
    line-height: rem;
  }
  .nav_style a{
    display: block;
    text-align: center;
    font-size: 1rem;
    border-bottom: 1px solid black;
  }
}


.searchbar{
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.searchbar input{
  margin: 30px 0; 
  padding: 10px 15px;
  border-radius: 5px;
  text-align: center;
}
.img_filter{
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
} */

/*Responsive web css*/
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* font-family: 'Josefin Sans', sans-serif; */
  font-family: 'Mulish', sans-serif;
}
.navbar{
  background-color: #fff !important;
}
.navbar-brand{
  font-size: 1.9rem !important;
  color: #565387 !important;
}
.navbar a{
  font-size: 1.3rem;
  text-transform: capitalize;
}
.menu_active{
  font-weight: bold;
  border-bottom: 1px solid #565387;
}
.navbar a:hover{
  color: #3498db !important;
}
@media (max-width:991px){
  .navbar-brand{
    font-size: 1.5rem !important;
  }
  .menu_active{
    font-weight: bold;
    border-bottom: none;
  }
}

/*========================================================
#Main Landing Section
==========================================================*/

#header{
  width: 100%;
  height: 70vh;
  margin-top: 70px;
}
#header h1{
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  color: black;
}
#header .brand-name{
  color: #3498db;
}
#header h2{
  color: #484848;
  font-size: 20px;
}
#header .btn-get-started{
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 50px;
  transition: 0.5s;
  color: #3498db;
  border: 2px solid #3498db;
  text-decoration: none;
}
#header .btn-get-started:hover{
  background: #3498db;
  color: #fff;
}
.header-img{
  text-align: right;
}
#header .animated{
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@-webkit-keyframes up-down{
  0%{
    transform: translateY(10px); 
  }
  100%{
    transform: translateY(-10px);
  }
}

@keyframes up-down{
  0%{
    transform: translateY(10px); 
  }
  100%{
    transform: translateY(-10px);
  }
}
.contact_div{
  width: 100%;
  height: 75vh;
}
footer p{
  margin: 0;
  padding: 10px;
}
/*responsive code */
@media(max-width:991px){
  #header{
    height: 80vh;
    text-align: center;
  }
  #header .header-img{
    text-align: center;
  }
  #header .header-img img{
    width: 60%;
  }
}

@media(max-width:768px){
  #header{
    margin-top: 20px;
  }
  #header h1{
    font-size: 28px;
  }
  #header h2{
    font-size: 18px;
    margin-bottom: 30px;
  }
  #header .header-img img{
    width: 70%;
  }
}